html{
    scroll-behavior: smooth;
}
  
li{
    list-style: none;
}

header{
    background-color: #717c7d;
    border-radius: 4px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Raleway", sans-serif;
    width: 100%;
    top: 0;
    z-index: 10;
}

.a{
    padding: 20px;
}

.home a, .about a, .quotes a, .hobby a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.home a:hover, .about a:hover, .quotes a:hover, .hobby a:hover{
    transition: 0.5s;
    color: white;
}

.sosmed{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.sosmed  a{
    margin-right: 10px;
    font-weight: 800;
    cursor: context-menu;
}

nav, .menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: white;
    border-radius: 50px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.menu__list{
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

nav input:checked ~ .menu__list{
    width: 450px;
}

.menu__list li{
    list-style: none;
    margin: 0 10px;
}

.menu__list a{
    font-family: "Raleway", sans-serif;
}

.menu__list li a{
    text-decoration: none;
    color: #0b0c0d;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}


.menu__list a:hover{
    color: #717c7d;
}

nav input{
    width: 35px;
    height: 35px;
    cursor: pointer;
    opacity: 0;
}

nav span{
    position: absolute;
    left: 23px;
    width: 25px;
    height: 4px;
    border-radius: 50px;
    background-color: #717c7d;
    pointer-events: none;
    transition: 0.5s;
}

nav input:checked ~ span{
    background-color: #ff0056;
}

nav span:nth-child(2){
    transform: translateY(-8px);
}

nav input:checked ~ span:nth-child(2){
    transform: translateY(0) rotate(-45deg);
}

nav span:nth-child(3){
    transform: translateY(8px);
}

nav input:checked ~ span:nth-child(3){
    transform: translateY(0) rotate(45deg);
}

.landing-page{
    height: 750px;
    width: 100%;
    background: url('/static/image/christin-hume-Hcfwew744z4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.latar{
    text-align: left;
    height: 700px;
    float: left;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container{
    margin: 250px 100px;
}

.intro-container h1{
    font-size: 60px;
    font-weight: 900;
}

.intro{
    font-size: 40px;
    color: #Ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.tentang{
    height: 800px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.tentang-foto{
    width: 400px;
    height: 500px;
    float:left;
}

.tentang-kanan{
    width: 600px;
    float:right;
}

.tentang-kanan h2{
    text-align: left;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.tentang-kanan a{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

con-bod{
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hobby-judul{
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .card{   
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: darkgray;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

.closing{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: white;
    padding: 200px 0px;
    border-radius: 4px;
}

.closing h1{
    font-size: 45px;
    color: #222222;
}

.closing h2{
    color: #222222;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.headline{
    margin-bottom: 10px;
}

.form-metu{
    height: auto;
    width: 500px;
    display: none;
    position: fixed;
    padding: 10px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0b0c0d;
    background-color: #717c7d;
    text-align: left;
    transition: 0.5s;

    -webkit-animation-name: metu; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: metu;
    animation-duration: 0.5s;
    z-index: 2;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
}


/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes metu{
    from {top: -100px; opacity: 0;}
    to {top: 400px; opacity:1;}
  }
  
  /* Add animation (Standard syntax) */
@keyframes metu{
    from {top: -100px; opacity: 0;}
    to {top: 400px; opacity: 1;}
}

.div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .btn {
    background-color: #F3EFE0;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.inputan{
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn{
    color: #434242;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.submit, .cancel{
    border-radius: 50px;
    width: 100px;
    border: none;
    transition: 1s;
}

.cancel:hover{
    background-color: red;
    transition: 1s;
}

.submit:hover{
    background-color: darkgray;
    transition: 1s;
}

.cancel {
    background-color: #E21818;
}

.submit{
    background-color: white;
}

.closing-form{
    text-align: center;
    padding-bottom: 5px;
}

footer{
    height: 50px;
    background-color: #717c7d;
    border-radius: 4px;
}

.footer-text{
    font-size: 10px;
    float: right;
    text-align: left;
    height: 50px;
}

.footer-text h2{
    margin: 15px 10px;
    color: white;
    font-family: "Raleway", sans-serif;
}

.btn-contactme{
    display: grid;
    place-items: center;
}

.open-button{
    background-color: #f1f2f4;
    padding: 20px 40px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 3px #717c7d;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.open-button:active{
    position:relative;
    top: 7px;
    box-shadow: none;
}

